<div class="container">
    <h2><p>Formulario de Inscripción</p></h2>
    <form>
      <mat-form-field>
          <mat-label>Seleccione Turno</mat-label>
          <mat-select>
              <mat-option value="manana">Diciembre 2023</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Seleccione Carrera</mat-label>
          <mat-select>
              <mat-option value="carrera1">Carrera 1</mat-option>
              <mat-option value="carrera2">Carrera 2</mat-option>
              <mat-option value="carrera3">Carrera 3</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Seleccione Unidad Curricular</mat-label>
          <mat-select>
              <mat-option value="uc1">UC 1</mat-option>
              <mat-option value="uc2">UC 2</mat-option>
              <mat-option value="uc3">UC 3</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Seleccione Llamado</mat-label>
          <mat-select>
              <mat-option value="llamado1">Primer Llamado</mat-option>
              <mat-option value="llamado2">Segundo Llamado</mat-option>
          </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary">Generar</button>
  </form>
</div>